footer {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
    position: relative;
  }
  
  .social-icons {
    display: flex;
    justify-content: center;
    gap: 20px;  /* Espace entre les icônes */
  }
  
  .social-icons a {
    color: white;  /*  icônes blanches au départ */
    font-size: 2rem;  /* Taille des icônes */
    text-decoration: none;  /* Enlève le soulignement des liens */
  }
  
  .social-icons a:hover {
    color: #007bff;  /* Change la couleur au survol */
  }
  
  @media (max-width: 576px) {
    .social-icons {
      font-size: 1.5rem;  /* Réduit la taille des icônes sur petits écrans */
      flex-direction: column; /* Aligne les icônes verticalement */
      gap: 15px; /* Réduit l'espace entre les icônes */
    }
    .social-icons a {
      font-size: 1.5rem;  /* Réduit la taille des icônes encore plus sur très petits écrans */
    }
  }